name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            requirements.lock
            requirements-dev.lock
            option/opt-data/pyproject.toml
            stock/stock-data/pyproject.toml

      - name: Install dependencies
        run: |
          make install PYTHON_BIN=python${{ matrix.python-version }}

      - name: Lint
        run: |
          make lint

      - name: Test
        run: |
          make test ALLOW_EMPTY_STOCK_TESTS=1
